* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}
body {
    background-color: aquamarine;
}
h1 {
    background-color:chartreuse;
    padding: 30px;
    margin: 30px;
    font-size:30px;
    font-style: italic;
    background-position: center;
    text-align: center;
}
.contenedor {
    background-color: crimson;
    text-align: justify;
}
.contenedor p {
    background-color: coral;
    margin-top: 20px;
    padding: 20px;
    line-height:1.5;
    margin-bottom: 20px;
}
.links {
    background-color: chocolate;
    padding: 20px;
    margin: 20px;
}
.links a {
    color:blue;
    font-size: 30px;
    background-color:azure;
    display:block;
    margin-top: 20px;
}
footer ul li {
    display: inline;
    margin: 10px;
    background-color: chartreuse;
}
a:hover {
    color:crimson;
}
img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;

}