* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}
body {
    background-color: aquamarine;
}
h1 {
    background-color:chartreuse;
    padding: 30px;
    margin: 30px;
    font-size:30px;
    font-style: italic;
    background-position: center;
    text-align: center;
}
.contenedor {
    background-color: crimson;
    text-align: justify;
}
.contenedor p {
    background-color: coral;
    margin-top: 20px;
    padding: 20px;
    line-height:1.5;
    margin-bottom: 20px;
}
.links {
    background-color: chocolate;
    padding: 20px;
    margin: 20px;
}
.links a {
    color:blue;
    font-size: 30px;
    background-color:azure;
    display:block;
    margin-top: 20px;
}
footer ul li {
    display: inline;
    margin: 10px;
    background-color: chartreuse;
}
a:hover {
    color:crimson;
}
img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
     sans-serif;
}
nav ul {
    list-style: none;
}
nav ul li {
    background-color:chartreuse;
    display: inline-block;
    padding: 15px;
    border: 5px solid black;
    border-radius: 20px;
}
section{
    padding: 20px;
    background-color: blueviolet;
    margin: 30px;
}
#inicio {
    background-color: black;
}
#servicio {
    background-color: blue;
}
#contacto {
    background-color: chocolate;
}
#inicio h1 {
    color: brown;
    font-size: 30px;
}
#nuestroservicios h2 {
    color: crimson;
    font-size: 30px;
}
#nuestrocontactos h3 {
    color: blue;
    font-size: 30px;
} 
footer {
    text-align: center;
}   
input,textarea {
    border-radius: 20px;
    padding: 10px;
    display: block;
    resize: none;
}
form button {
    background-color: gold;
    color:aqua;
}